<div class="welcome-bg">
  <div class="intro-container">
    <div class = "intro">
      <h3><strong>Handitrak</strong> is your personal online caddy. Track your handicap, improve your game, and get paid for green fees.</h3>
      <%= image_tag 'golf_icon.png', class: "started" %>
      <h3>Get Started Today!</h3>
    </div>
  </div>
</div>
