<h1>HandiTrack</h1>

<p>HandiTrack allows golfers to keep track of their current handicap. Golfers can search for courses played by others or input a golf course that may not be in the database.</p>

<p> Golfers can follow their friends and track other golfers current handicap</p>
