<div class="golf">

<div class="row">
<div class="large-12">
  <div class="panel">
    <div>
      <h5><strong>HandiTrack</strong></h5>
    </div>
    <div>



<p>HandiTrack allows golfers to keep track of their current handicap. Golfers can search for courses played by others or input a golf course that may not be in the database. Golfers can follow their friends and track other golfer's current handicap. </p>

</div>
