/* template courtesy of https://github.com/LaunchAcademy/simple-jquery-tabs */

.tabs-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.tabs-nav > a {
  font-size: 16px;
  display: inline-block;
}

.tab {
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  padding: 10px 25px;
  background: #EEEEEE;
}

.tab:visited {
  color: #000000;
}

.tab:first-child {
  border-left: 1px solid #cccccc;
}

.tab.active {
  background: #FFFFFF;
  border-bottom: 1px solid white;
}

.tabs-content {
  padding: 10px 25px;
  margin-top: -1px;
  border: 1px solid #cccccc;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}
